.container {
    margin-top: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: 50px;
}

.logo {
    height: 45px;
    align-self: flex-start;
}

.topic-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}